body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 0.75s ease;
  -moz-transition: background-color 0.75s ease;
  -o-transition: background-color 0.75s ease;
  transition: background-color 0.75s ease;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CONTAINER */
.container {
  font-size: 1.5em;
  font-family: "IBM Plex Serif", serif;
  display: flex;
  position: absolute;
  width: 50%;
  height: 19em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: blanchedalmond;
  color: black;
  border-radius: 0.4em;
  /* flex */
  justify-content: space-between;
  align-items: center;
}
.container h2 {
  font-size: 1.75em;
  margin: 0;
  margin-top: 0.2em;
  font-weight: 600;
  letter-spacing: 0.15em;
}
/* HEAD */
.head {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* UPPER CONTAINER */
.upperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* height: 15em; */
  height: 50%;
  margin: 0 2.5em;
  margin-bottom: 1.75em;
}
.upperContainer p {
  font-weight: 500;
  margin-bottom: 0.2em;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
.upperContainer footer {
  font-size: 1.05em;
  text-align: end;
  font-weight: bold;
  letter-spacing: 0.03em;
}
/* LOWER CONTAINER */
.lowerContainer {
  width: 95%;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lowerContainer .getQuote {
  color: blanchedalmond;
  border: 0.05em solid;
  border-radius: 0.3em;
  font-size: 1em;
  margin-left: 1em;
  font-weight: 500;
}
/* dropdown menu */
#quote-select {
  font-weight: 500;
  font-size: 1em;
  padding: 0.5px;
  border-radius: 0.3em;
  outline: none;
  color: blanchedalmond;
  border: 0.05em solid;
  max-width: 8em;
}

.lowerContainer .getQuote:hover {
  border: 0.05em solid grey;
}
.lowerContainer .getQuote:focus {
  outline: none;
}

.githubIcon {
  color: blanchedalmond;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%);
}

/* Media */

@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    font-size: 1.1em;
  }
  .githubIcon {
    top: 90%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 1em;
  }
  .lowerContainer {
    margin-bottom: 0.5em;
  }
  .lowerContainer .getQuote {
    margin-left: 0.5em;
  }
}
@media screen and (max-width: 350px) {
  .container {
    height: 21em;
    font-size: 0.8em;
  }
  #quote-select {
    padding: 0 0.5px;
    max-width: 5.3em;
  }
}

@media screen and (max-width: 230px) {
  .container {
    max-height: 22em;
    font-size: 0.58em;
  }
  .container h2 {
    letter-spacing: 0.1em;
  }
}

/* flip for icon */
.flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
